.moviecard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 250px;
    height: 400px;
}
.moviecard .markasseenbtn {
    
    
}