
    img:before {
        content: url("../MovieCard/react.svg");
      }
      
      img:after {
        /* content: "(url: " attr(src) ")"; */
      }


.moviecard {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 250px;
    height: 400px;
    /* background-image: url("../MovieCard/react.svg");
    background-repeat: no-repeat;
    background-position: center; */
}
.moviecard .markasseenbtn {
    
    
}
.moviecard p {
    text-align: right;
    margin-right: 5px;
    padding-top: 5px;
    /* margin-top: 5px; */
    
}